[2016-09-13 10:13] jamiebull1 opened #1 "surface.setcoords fails with more than 120 vertices"
This is because of the default limit in the IDD. There are two possible solutions:
- Simplify geometry if there are too many vertices in a surface
- Edit the IDD to allow more vertices

[2017-12-06 14:35] jamiebull1 opened #3 "Intermittently failing test"
`tests/test_intersect_match.py::test_real_scale` fails on Travis for Python 3.5 [here](https://travis-ci.org/jamiebull1/geomeppy/jobs/312442393).

This is a big test so might be difficult to create an MVE to diagnose the issue.

[2017-12-06 17:49] jamiebull1 opened #4 "Scaling and rotating buildings and blocks"
We should have most of the tools in place for this. We need tests, API design, implementation.

Things to consider:

**Scaling**

1. Translate the entire model to the origin
2. Scale all points in surfaces and subsurfaces by a `scale_factor`
3. Translate back again

**Rotating**

1. Need to define what we're rotating around with a `centre` keyword to state the approach. Default to `centre=True` to

[2017-12-11 00:15] #4 closed

[2017-12-18 18:01] jamiebull1 commented on #1
For now we'll add an informative error message

[2017-12-19 15:21] jamiebull1 opened #5 "When setting WWR, remove all fenestration surfaces first"
Currently we only remove `FENESTRATIONSURFACE:DETAILED` before adding new ones. We should remove everything in the set of fenestration surfaces, or potentially all from the set of subsurfaces.

We should keep the same glazing material where this makes sense, and raise an exception otherwise.

- Where there is more than one type of subsurface on a surface
- Where there is more than one construction

[2017-12-23 10:19] jamiebull1 commented on #5
This is fixed as of version `0.3.12`.

API is

    def set_wwr(self, wwr, construction=None, force=False):
        # type: (float, Optional[str], Optional[bool]) -> None
        """Add strip windows to all external walls.

        :param wwr: Window to wall ratio in the range 0.0 to 1.0.
        :param construction: Name of a window construction.
        :param force: True to remove all subsurface

[2017-12-23 10:19] #5 closed

[2017-12-30 17:48] orcunkoraliseri opened #6 "why idf.view_model() does not show shadings:zone:detailed?"
While implementing overhang shading for windows, i tried to check idf.view_model() as 3d visulisation but it did not show up the shading surfaces. I checked the source code of geomeppy to search the reason. It did not added in the  _get_collections  function. Is there any reason for that?

And also could you help me to solve this issue?

[2017-12-30 17:50] jamiebull1 commented on #6
No reason, I just wasn't using them when I was writing geomeppy.  I'll take a look at adding them and anything else I've missed.

[2017-12-30 18:51] orcunkoraliseri commented on #6
In addition to that i am currently working on parametric design for overhang shadings. I wrote it these codes to execute but as you mentioned in the source code of geoemppy it gives ,
"The aname parameter should no longer be used.", UserWarning).

Could you offer me some another solution or clue for that?

       # south shading design
       fenestration = idf.idfobjects['Fenestrationsurface:deta

[2018-01-03 09:38] jamiebull1 commented on #6
@orcunkoraliseri On the shading issue, I think I have it solved but I've run into another problem with matplotlib on mac which means I'm having trouble testing it. I've pushed the change to the `develop` branch so you can try it out if you like.

As for the warning, "The aname parameter should no longer be used." - from memory this is just my attempt to make @santoshphilip's comment in the eppy so

[2018-01-03 12:26] orcunkoraliseri commented on #6
Thank you for your answer. I will try it.

[2018-01-04 21:32] orcunkoraliseri commented on #6
It works for visualisation shading surfaces. Thank you again. On the other hand,i am currently dealing with the problem of idf.rotate() becuase it does not effect for shading surfaces.

Should i add another getshadingsurfaces method in geom.intersect.match ?

[2018-01-04 21:38] jamiebull1 commented on #6
Sure. I haven't looked much at shading surfaces so happy to accept a pull request addressing them. Pretty much anywhere that the other surfaces are used, shading surfaces should also be included.

[2018-01-05 20:56] jamiebull1 commented on #6
Ok, rotate should be working now. I've released a new minor version which adds shading surfaces to the `translate`, `rotate` and `scale` methods.

[2018-01-06 14:41] orcunkoraliseri commented on #6
Great work. Thank you for your effort.

[2018-01-06 14:43] jamiebull1 commented on #6
No problem. Anything else, please open up another issue.

[2018-01-06 14:43] #6 closed

[2018-01-11 15:06] orcunkoraliseri opened #8 "Modifying differently set_wwr() for each external wall"
set_wwr() method impacts on all external walls with same attitude. While i check the source code of geomeppy, i saw that setcoords() method works with ggr(global geometry rules ). So i could not modify the code.

Could you offer me a solution to apply wwr  for each external walls separately?

[2018-01-11 15:07] jamiebull1 commented on #8
I've been meaning to do something about this. I'll take a look this evening.

[2018-01-11 23:16] jamiebull1 commented on #8
Ok, I've implemented something. Let me know if this works for you.

[2018-01-13 00:25] jamiebull1 opened #14 "Import geometry from GIS tools"
It would be great if we could import buildings from GIS software and build models automatically. Main issue seems like it would be converting the coordinates from whatever format they are in to the simple `[(x1,y1,z1), ..., (xn,yn,zn)]` format we use in the `Block` class.

Possibly useful:

- https://geoalchemy-2.readthedocs.io/en/latest/

[2018-01-13 15:50] orcunkoraliseri commented on #8
I've tried and that works great. Thank you.

[2018-01-13 19:30] #8 closed

[2018-01-14 21:59] jamiebull1 opened #15 "Add geometry simplification"
Too much detail in geometry leads to slow simulations. It would be great to have a way of simplifying geometry while maintaining topology (adjacencies).

The `shapely` library, which is already a dependency for `geomeppy`, has some functions which may be useful.

`simplify()` - https://shapely.readthedocs.io/en/latest/manual.html#object.simplify
`snap()` - https://shapely.readthedocs.io/en/latest/

[2018-01-14 22:01] jamiebull1 commented on #1
The warning has been added. Since the user may run the IDF generated by geomeppy in EnergyPlus using a customised IDD, we should build what we are asked, but warn the user that they will need to adapt the IDD before running it.

The simplification approach has its own issue #15

[2018-01-14 22:01] #1 closed

[2018-01-14 22:02] jamiebull1 commented on #3
Can't reproduce this at present

[2018-01-14 22:02] #3 closed

[2018-01-15 17:23] jamiebull1 opened #17 "Import/export geometry from an IDF"
It would be good to have a tool for taking all the geometry-related objects from an IDF and adding them into a new IDF, or an existing one, while leaving all the other IDF objects untouched.

We would want to warn about clashes of geometry, both spatially and in terms of duplicated names.

[2018-01-15 22:06] jamiebull1 commented on #17
This is now implemented in basic form on the `develop` branch in the `extractor` module, without any checks for clashes yet.

[2018-01-15 22:12] jamiebull1 opened #18 "Add .obj file export for viewing on the web"
Export the geometry as an OBJ format file, which can then be used in WebGL rendering, perhaps in a Jupyter notebook, or just a webpage.

Specifications: https://www.cs.utah.edu/~boulos/cs3505/obj_spec.pdf

This could work by having each surface in the model hold its own representation in the correct format for export to a .obj file.

[2018-01-16 16:51] jamiebull1 commented on #18
To do this, we need a consistent way of numbering the vertices in the model. This is because when specifying a face, each vertex is referred to by its position in the list of vertices.

     # vertices
     v 0.000000 0.000000 0.000000
     v 1.000000 0.000000 0.000000
     v 1.000000 0.000000 1.000000
     v 0.000000 0.000000 1.000000

     # vertex normals
     vn 0.000000 1.000000 0.000000

[2018-01-16 16:52] jamiebull1 commented on #18
This was actually pretty easy for the basic geometry. We can look add adding textures, colours, subsurfaces, etc. now.

[2018-01-18 09:55] jamiebull1 commented on #18
Also, set up a page at oCo Carbon running this so it's easy to view the OBJ/MTL files.
https://github.com/kovacsv/Online3DViewer

[2018-01-18 10:06] jamiebull1 commented on #17
For naming clashes there are at least 3 options:

1. Ignore. This would be used if the names in the source IDF are deliberately the same as in the target IDF. For example, you may use a common set of materials/construction names in your surfaces, and then as part of your workflow import the constructions from an IDF used as a materials library.
2. Suffixes. Pass a suffix to append to names from th

[2018-01-19 13:36] jamiebull1 opened #19 "Problem with roofs when using idf.add_block()"
The roofs generated are an extra storey above the walls.

This may not affect simulation since the surfaces are (presumably) still matched to the correct thermal zones, but it becomes obvious when testing the visualisation code.

<img width="734" alt="screen shot 2018-01-19 at 14 39 50" src="https://user-images.githubusercontent.com/3817160/35153398-aca4db8e-fd26-11e7-8c88-c45751451e93.png">

[2018-01-19 15:31] jamiebull1 commented on #19
Solved. Needed to cast height to float. This will be in the next release.

[2018-01-19 18:07] #18 closed

[2018-01-19 18:07] #19 closed

[2018-01-19 18:17] #17 closed

[2018-01-24 19:43] jamiebull1 opened #28 "Use groups for selecting surfaces and subsurfaces"
Currently we only handle `BUILDINGSURFACE:DETAILED` and `FENESTRATIONSURFACE:DETAILED` in a couple of places where it would be better to use the idd group.

It should be something like:

    obj_types = idf.getiddgroupdict()[<whatever group is surfaces>]

The do whatever operation on surfaces/subsurfaces/whatever.

It might also be nice to add some syntactic sugar like `idf.surfaces`, `idf.subsurf

[2018-01-29 23:24] jamiebull1 opened #33 "Bug when importing complex geometry from GeometryTest.idf"
Steps to reproduce:

    idf = IDF('/Applications/EnergyPlus-8-8-0/ExampleFiles/GeometryTest.idf')
    idf.intersect_match()

Error:

It seems as though a surface is being seen as a hole on another surface, despite the fact that they only touch at a corner.

<img width="408" alt="screen shot 2018-01-30 at 00 13 33" src="https://user-images.githubusercontent.com/3817160/35539572-7d7d18ba-0552-11e8-

[2018-01-30 09:07] jamiebull1 commented on #28
Where objects returned don't have coordinates stored as vertices we need to think about how to handle things.

[2018-01-31 11:20] jamiebull1 commented on #33
Once again, a case of slight differences with an overlap of essentially zero area. Fixed by adding an `almost_equal(poly.area, 0, 5)` check to prevent returning tiny intersections from the clipper.

Fix will be in the next release.

[2018-01-31 12:14] jamiebull1 opened #34 "Extractor should not add duplicate objects"
Need to do some kind of validation when we have duplicate objects which can only be present once.

This includes both unique objects such as `GLABALGEOMETRYRULES`, as well as objects of the same type with the same name.

[2018-02-07 17:08] #33 closed

[2018-03-24 15:19] orcunkoraliseri opened #35 "idf.add_shading_block creates two surface!"
Actually, this does not create any problem but I thought it is better to mention about it. 'idf.add_shading_block'  method puts two similar surface in the geometry.

here it's the code that I put in the code.
`idf.add_shading_block('b_south', [[0.0, 15.0] * 2, [10.0, 15.0] * 2], 10.0)`

here it's  the outcome from idf.
`['SHADING:SITE:DETAILED', 'b_south_1', '', 'autocalculate', 0.0, 15.0, 10.0, 0

[2018-06-01 21:40] asikand-view opened #62 "Error: scale() got an unexpected keyword argument 'axes'"
idf.scale(2, axes='xy') => scale() got an unexpected keyword argument 'axes'

What is going on here? I used the method just as it was described in the documentation but it simply doesn't accept the axes parameter.

[2018-06-04 14:07] jamiebull1 commented on #62
@asikand-view `axes='xy'` is the default value for the `scale` function in `recipes.py`. You don't need it when calling the `idf.scale()` method.

[2018-06-05 00:07] asikand-view commented on #62
I'd like to scale just one axis though? I saw this example in the documentation:

IDF.scale(2, axes='z')

But it throws the error I indicated above.

[2018-06-05 14:32] jamiebull1 commented on #62
Check out the `develop` branch. You should now be able to use `IDF.scale(2, axes='z')` to double the height of the building.

[2018-06-21 08:32] jamiebull1 commented on #62
Released now.

[2018-06-21 08:32] #62 closed

[2018-06-21 08:32] #28 closed

[2018-07-17 13:17] fkfertigprof commented on #8
I've run into the same issue, and can't find the work-around in the code. Could you point me in the right direction?

[2018-07-19 07:05] fernped opened #99 "Add block to the top of the building using its corners"
Dear Jamie,

Thank for your amazing work. I have been using the geomeppy for performing the changes in IDF using python script and it was a great help. I was newbie with python when I started using the package but I was able to leverage my knowledge and change the envelope for simulation very quickly. I also saw that you had a lot of features regarding the handling of the polygon.

I would like to

[2018-07-19 09:57] jamiebull1 commented on #99
Thanks, that seems much clearer. I'm at the day job right now, but I'll have a proper look this evening.

[2018-07-19 12:05] fkfertigprof commented on #8
Will do, thanks

[2018-07-19 12:16] fkfertigprof opened #100 "set_wwr() for individual surfaces"
It is often necessary to apply different window to wall ratios for different blocks (e.g. ground floor with fully glazed retail, whereas first and above are punched windows for resi), zones (especially in multi-level mixed-use), or even individual surfaces.

To my understanding, the current code only supports applying set_wwr() to the entire building, with or without orientational mapping.

Ideall

[2018-07-20 15:05] jamiebull1 commented on #100
So I see two functions here that would be useful:

- % glazing by block
- % glazing by surface

I'll have a think about this but should be possible.

[2018-09-27 20:54] jamiebull1 commented on #100
@fkfertigprof I've added a `surfaces` parameter which accepts an iterable of surfaces. Does this suit your use case?

And sorry for the long delay. I've not been working on this project for a while, but I'm going to be back on top of it again now.

[2018-09-29 20:45] fernped commented on #99
Hello Jamie,

Thank you for the answer. Meanwhile I've found a workaround but I am still interested in working with you if you are interested to create a block automatically in the outline of an existing building.

My last approach was to read all the edges of the roofs and remove the duplicated vertices. My issue after is the order of the new vertices. Code below:

....

 proofs = [

[2018-09-30 23:18] jamiebull1 commented on #99
This ought to be a useful trick, using functions from `pyclipper`. I'll try to think of a good way to add this into `geomeppy`. Any suggestions and/or pull requests are welcome.

    from pyclipper import SimplifyPolygon, SimplifyPolygons
    # get your collection of roofs
    ...
    # merge and simplify them into outline coords (maybe split them up by z-coord or block first)
    coords = [Simpli

[2018-10-01 07:52] jamiebull1 commented on #99
No problem, I only found this pair of functions myself yesterday while looking into a different solution. This approach will avoid your problem of vertices being out of order though.

I'm thinking of adding a function to `geomeppy` to return the outline of all blocks using this, which could be useful for visualisation of results.

The call signature would be something like:

    def perimeter(surf

[2018-10-12 13:22] zhengzhuang3 opened #150 "Distortion when viewing sketchup-generated idf file from python-geoeppy"
When I used sketchup to generate idf file and try to load and view it from gemoeppy of python, I found the geometry was totally distorted and different from the original one in Sketchup.
Anyone met this problem before and how to address it? Thank you.

[2018-10-12 15:39] jamiebull1 commented on #150
@zhengzhuang3 geomeppy was originally designed for creating geometry. Geometry import is experimental for now and still under development. When I get more time, I'll try and iron out the bugs, but for now it's not ready for real-world use.

However if you could share the files you're having problems with, that might help me identify the source of the issues.

[2018-10-13 01:54] zhengzhuang3 commented on #150
@jamiebull1  Sure. The attached files include one .osm file generated by sketchup openstudio plug-in and one idf file for energyplus.
[Files.zip](https://github.com/jamiebull1/geomeppy/files/2474970/Files.zip)
The geometry  before importing looks like this：
![image](https://user-images.githubusercontent.com/32953951/46899976-a6fcc100-cecd-11e8-9c55-0c2531635a56.png)
after importing, the geometry t

[2018-10-14 20:02] jamiebull1 commented on #150
First, I can't open that zip file - it says it's empty when I try. Could you upload the .idf and .osm (with .txt extensions as you did before).

Second, I think this may to do with how the plugin generates geometry in order to create a more efficient IDF. I'm not sure though so I've opened a [question on Unmet Hours](https://unmethours.com/question/34901/why-is-this-idf-geometry-generated-from-ske

[2018-10-15 02:05] zhengzhuang3 commented on #150
@jamiebull1  The files have been uploaded with txt extensions including three osm files and their corresponding idf files and sketchup and gemoeppy views.
[IDFone_building_single_story.txt](https://github.com/jamiebull1/geomeppy/files/2477161/IDFone_building_single_story.txt)
[OSMone_building_single_stroy.txt](https://github.com/jamiebull1/geomeppy/files/2477162/OSMone_building_single_stroy.txt)
[

[2018-10-16 19:55] lymereJ commented on #150
I could be missing something obvious ... The floor coordinates are the same but the zone origin is different:

- `Thermal Zone: Space 101` has a `X Origin` of 6
- `Thermal Zone: Space 101` has a `X Origin` of 16.25

It seems normal to me that if `GlobalGeometryRules`' `Coordinate System` is set to `Relative` to not have the two blocks overlapping with each other.

[2018-10-16 21:13] jamiebull1 commented on #150
@lymereJ I think you're right. I remember seeing this before once and planning to make sure we respected relative coords, but it fell off my radar. I'll look into it when I get a chance, unless you fancy having a crack at it?

[2018-10-16 21:36] jamiebull1 commented on #150
Perfect timing. I should have some spare time from Thursday to Sunday as well

[2018-10-26 16:02] lymereJ commented on #150
@jamiebull1, sorry for not getting back to you last week! It's been hectic but I have something in the works. I'll be posting - hopefully - soon after I've done some testing.

[2019-02-07 22:26] yiyuan1840 opened #156 "The default install of Shapely points to version 1.7"
Tested both pip install and the setup.py to install the geomeppy package. It seems like shapely 1.7 is installed rather than version 1.6.4.post2 as noted in requirements.txt.
This causes some error while importing geomeppy in python3.

[2019-03-19 15:37] myndtrust opened #159 "CalledProcessError for idf.run() in tutorial"
What isn the run() function trying to do? I am doing the tutorial with out deviation, and am seeing the error.
My environment is Ubuntu 18.04, Python 3.7, issues is persistent with E+V8.8 and E+V9.0.

[2019-03-19 17:14] jamiebull1 commented on #159
ìdf.run()` should run a simulation. Does idf.run() work if you use it directly from `eppy`, or only from `geomeppy`?

Can you show the traceback? Might give us some more clues

[2019-03-20 02:26] myndtrust commented on #159
I am successful with idf.run() with from `eppy.modeleditor import IDF`, but error out when executing it with `from geomeppy import IDF`

Here is the traceback:
[code]

[2019-03-20 09:42] jamiebull1 commented on #159
Ok, thanks. So do any of these paths from the command listed in the called process error not exist?

    '/usr/local/EnergyPlus-9-0-1/energyplus'
    '/home/eric/energy_plus_tutorial/USA_CA_San.Francisco.Intl.AP.724940_TMY3.epw'
    '/home/eric/energy_plus_tutorial'
    '/usr/local/EnergyPlus-9-0-1/PreProcess/IDFVersionUpdater/V9-0-0-Energy+.idd'
    '/home/eric/energy_plus_tutorial/in.idf'

[2019-03-20 12:10] myndtrust commented on #159
Theses paths all exist. I am running in Jupyteer Notebook. Could that be the issues?

[2019-03-20 13:03] myndtrust commented on #159
I tried this in PyCharm IDE. Again using Python 3.7, in Virtual Environment.

Code Snippit:
`#from eppy import modeleditor
#from eppy.modeleditor import IDF
from geomeppy import IDF

idd = '/usr/local/EnergyPlus-9-0-1/PreProcess/IDFVersionUpdater/V9-0-0-Energy+.idd'
fname = '/usr/local/EnergyPlus-9-0-1/ExampleFiles/Minimal.idf'

IDF.setiddname(idd)
idf = IDF(fname)

idf.epw = 'USA_CA_San.Francisco

[2019-03-21 10:58] jamiebull1 commented on #159
Ah, in that case is there a .err file generated?

[2019-03-21 11:41] myndtrust commented on #159
Here is the output of the erros file, looks like the its the Window construction that is causing the problem.

`Program Version,EnergyPlus, Version 9.0.1-bb7ca4f0da, YMD=2019.03.20 20:24,
   ** Warning ** Weather file location will be used rather than entered (IDF) Location object.
   **   ~~~   ** ..Location object=DENVER_STAPLETON_CO_USA_WMO_724690
   **   ~~~   ** ..Weather File Location=Denver

[2019-03-23 15:14] myndtrust commented on #159
The construction in missing in 'set_wwr()' , but i can figure out where the constructions are defined.

[code]

[2019-03-24 23:13] jamiebull1 commented on #159
@myndtrust The latest dev branch has the fix, but I've not had time to put a patched release out. I'll get to it when I get a chance.

[2019-03-28 00:59] cecilia626 opened #161 "Installing geomeppy on Mac"
Hi there - sorry if this isn't the right place to post this? But I'm having troubles installing geomeppy on my computer, but I keep getting this error. Could you please help?

(base) cecilias-air:~ cecilia_rose_xoair$ pip install geomeppy
Collecting geomeppy
  Using cached https://files.pythonhosted.org/packages/99/2c/f62204651a6079b1dca1ff3fb276e39045fba6d90b8f7edab8ea1a8f1ce6/geomeppy-0.6.1.tar.

[2019-04-03 16:17] louisleroy5 opened #163 "Intersect surface does not rename all occurences in idf"
Hello,

I am using the "intersect()" function from geomeppy on an existing idf file that already contains geometry ("BuildingSurface:Detailed", "FenestrationSurface:Detailed", etc.). See attached file please.
The problem I encounter is that "intersect()" renames the building surfaces (line 35 of the intersect_match.py file) without renaming all other occurences using those building surface names (

[2019-04-10 10:02] adambgnr commented on #161
Hi @cecilia626
I had the same problem on Windows. Unfortunately I don't know how to fix the installation with pip, but a temporarily solution that worked for me is like this:

- Download and unpack the geomeppy-0.6.1.tar.gz file from [https://pypi.org/project/geomeppy/#files](https://pypi.org/project/geomeppy/#files)
- Download the requirements.in and test-requirements.in files from the Geomeppy G

[2019-04-11 15:14] jamiebull1 commented on #161
@adambgnr thanks for this. Yes, you're right. I think what I need to do is add those .in files to a manifest file, but haven't found the time for it.

[2019-07-17 23:53] atahosseini commented on #100
Hi Jamie
I got the same problem with surface set_wwr. Have you added the surfaces to idf.set_wwr()? Is the surfaces a list of the wall surfaces whose the windows are attached or a list of windows? I'm a bit confused, could you please put an example here?

[2019-08-12 08:03] jamiebull1 opened #169 "Creating buildings and shading blocks from shapely outlines"
Given a building outline as a shapely polygon, and a list of shading lines, how can we create a geomeppy model?

The basic function for the building blocks is `IDF.add_block(name=<building name>, coordinates=<list of (x,y) coordinates>, height=<building height>)`. You probably also want to specify `num_stories`.

For the shading surfaces, you have `IDF.add_shading_block(...)` which takes the same

[2019-08-12 10:57] FrancisBase commented on #169
Yes this is really a breakthrough feature of Geomepppy if it can be pulled out.
Let me know how i can help please.

[2019-08-12 10:59] jamiebull1 commented on #169
I don't think anything needs to be done in geomeppy. The functions you need to use are already there. What format is the data you already have?

[2019-08-12 11:09] FrancisBase commented on #169
The original format is SHP but i use GIS to convert it into shapely polygon(building footprint) with shapely lines (shading blocks representing contiguous buildings) surrounding.

[2019-08-12 11:10] jamiebull1 commented on #169
Ok, sounds close to what is needed for geomeppy. What exactly do you need help with?

[2019-08-12 18:41] FrancisBase commented on #169
Need to code the transformation of the 2D figure to the 3D building in IDF retaining the properties of shading, normal facade and contiguous building (they have different thermodynamic impacts).
<a href="https://ibb.co/VJ0rV5V"><img src="https://i.ibb.co/MZyWnQn/geomeppy2.png" alt="geomeppy2" border="0"></a>

[2019-08-12 18:44] jamiebull1 commented on #169
That's what the functions I described above do. If you need someone to actually do the coding for you, let me know and I can put together a quote.

[2019-08-12 18:51] FrancisBase commented on #169
Sent an email for us to see how we can solve this interesting code challenge ok best regards.

[2019-09-19 14:23] jamiebull1 commented on #163
@louisleroy5 sorry, I totally missed this issue. I'll take a look into it. I think you're right that we should rename throughout if that is possible.

[2019-09-19 14:24] jamiebull1 commented on #161
Closing, fixed in 8036e397e2e99a0caad78605feb0e7d662f7444c

[2019-09-19 14:24] #161 closed

[2019-09-19 14:25] jamiebull1 commented on #159
Fixed

[2019-09-19 14:25] #159 closed

[2019-09-19 14:27] jamiebull1 commented on #169
Closing as handled elsewhere.

[2019-09-19 14:27] #169 closed

[2019-09-19 14:55] jamiebull1 commented on #35
This isn't a bug. The problem is in trying to add a shading block, not a shading surface. The coordinates passed produce a block with two walls rather than the usual three or more.

A better approach here would be to call:

    obj = idf.newidfobject("SHADING:SITE:DETAILED", "b_south")
    obj.setcoords([(0.0, 15.0, 10.0), (0.0, 15.0, 0.0), (10.0, 15.0, 0.0), (10.0, 15.0, 10.0)])

[2019-09-19 14:55] #35 closed

[2019-09-19 15:04] jamiebull1 commented on #156
@yiyuan1840 I've been neglecting this project for a while, but don't seem to be able to reproduce this error. Is it still an issue for you when running `pip install geomeppy`?

[2019-09-19 15:06] #150 closed

[2019-09-21 11:39] FrancisBase commented on #14
Hello Jamie congratulations on this contribution.
Can you update all issues, so it's possible to see the current in need items. For example this issue is already tackled i guess.
Cheers.

[2019-09-21 11:40] FrancisBase opened #171 "add geomeppy 2 conda"
Are there any plans to support Geomeppy with conda.

[2019-09-21 12:05] jamiebull1 commented on #14
Hi @FrancisBase . This issue is not at all tackled. There are lots of ways the GIS data can be formatted, so I think to tackle this issue properly, we need to define an expected format or formats to accept, and then a function or functions to read them in and create EnergyPlus geometry.

[2019-09-21 12:09] jamiebull1 commented on #171
At present no, but only as I've not looked into what that would require to get the Travis CI to do whatever is required.

Installing in conda is easy using `pip install geomeppy`, but you may need to call `conda install shapely` first to add libs that are not always present and aren't installed from pip.

I'll leave this issue open in case someone else wants to pick it up.

[2019-09-21 12:13] jamiebull1 opened #172 "Function to get perimeter of a set of blocks/surfaces"
A function to get geomeppy to return the outline of all blocks would be useful for visualisation of results, and also for adding a single zone above an existing building made up of multiple zones.

The call signature would be something like:

[code]

[2019-09-21 12:14] jamiebull1 commented on #34
We need to define whether the source or target version of clashing objects should take precedence.

[2019-09-21 12:16] jamiebull1 commented on #99
Closing for #172

[2019-09-21 12:16] #99 closed

[2019-09-22 08:24] FrancisBase commented on #14
Ok here is an example of using open source libraries to be able to multi format read and possible also write (although for building by building basis its ok to stick with shp or geojson for example).
`# See all available drivers supported by GDAL
import fiona
from fiona._drivers import GDALEnv
env = GDALEnv()

# This will print all available Drivers supported by GDAL
# All these can be used for re

[2019-10-11 14:54] jamiebull1 commented on #171
This is not likely to happen for geomeppy since there is at least one dependency which can't be easily built for Windows (poly2tri).

It may still be possible to do for eppy https://github.com/santoshphilip/eppy/issues/265

[2019-10-25 18:44] atahosseini opened #174 ""HVACTemplate Any Number". Overwriting existing object"
Hello all

I tried to use eppy for adding some building blocks. The problem is that as soon as I reach this part of the code which is also used in the document of the "geomeppy" I get an error. I'm talking about this part:

stat = idf.newidfobject(
"HVACTEMPLATE:THERMOSTAT",
Name="Zone Stat",
Constant_Heating_Setpoint=20,
Constant_Cooling_Setpoint=25,)

and the error I get is this:

 ** Severe  **

[2019-10-26 16:35] jamiebull1 commented on #174
What does your IDF look like? It looks like you've added two `ScheduleTypeLimits` objects with the same name, "HVACTemplate Any Number", but can't be sure.

[2019-10-28 19:15] atahosseini commented on #174
Hi Jamie

I haven't defined any "scheduletypelimit". Not sure why I get this weird error

[2019-10-28 22:19] atahosseini commented on #174
I found the problem and the solution. When eppy or "geomeppy" runs the file, sometimes, it doesn't replace the previous file with the new one. Therefore, it tries to overwrite the previous file which contributes to an error. This may be rather the EnergyPlus problem. Anyways, What I did in my code I just added a line to delete the previous file before "geomeppy" runs the file like this:

import os

[2019-11-19 01:51] Tsutsuji opened #176 "just start trouble"

[2019-11-19 06:38] #176 closed

[2020-01-17 09:50] fabiamiorelli opened #177 "set_wwr() error message"
I am running EnergyPlus v9-1-0 from Spyder (3.3.6) using eppy and geomeppy. I am particularly interested in the option to change the glazing ratio using geomeppy to assess the impact on energy performance. When using idf.set_wwr() I get the following error message:

idf.set_wwr(wwr=wwr_north, construction=window, orientation="north", force = True)
Traceback (most recent call last):

  File "<ipyth

[2020-01-20 02:26] ygtsdk opened #178 "Boundary Conditions"
Hello,

First of all I would like to thank you for developing a tool like this and I really enjoy using it.

I would like to ask you about the boundary conditions of the created surfaces.
I realized that the boundary conditions of some of the surfaces (especially ceilings in my case) are defined as `outdoor`. It really effects the results of the heat load calculations.
In addition to that, at each

[2020-01-20 02:56] #178 closed

[2020-01-20 03:13] ygtsdk opened #179 "Boundary Conditions"
Hello,
I am new at this site and using EnergyPlus.
First of all I would like to thank you developing this useful tool.
My question is about the boundary conditions of ceilings.
While creating buildings with multiple stories I realized that the ceiling (between stories) boundary conditions are set as outdoor and they are wind exposed.

Do we need to fix those ourselves or is there a solution for th

[2020-02-07 14:38] milagrossanz opened #181 "problem running geomeppy on windows"
Hello! I've been working with eppy for a couple of months now and just found out about geomeppy because I'm trying to work with the function WWR. But my problem starts in the very beginning, I've tried to install geomeppy but it seems that I did something wrong and can't seem to find the error. Whenever I try to run "from geomeppy import IDF" this error show up:

from geomeppy import IDF

IDF.seti

[2020-04-28 20:01] #181 closed

[2020-04-29 11:14] jamiebull1 commented on #181
I assume you've found the solution since you've closed the issue.

In case anyone else stumbles across this problem, it looks like you need to install `shapely`. This is a common issue on Windows, and is most-easily resolved by installing in a conda environment.

[2020-04-29 17:37] milagrossanz commented on #181
Hi @jamiebull1! I tried to install it one more time, following the steps from the tutorial very closely and this time worked. I didn't reply to my previous problem because I actually don't know how I fixed it.

I hope your message can help anyone else with this problem. Thanks!

[2020-05-10 11:01] #156 closed

[2020-05-10 11:45] #100 closed

[2020-05-10 21:20] milagrossanz opened #188 "adding blocks with internal vertices"
Hello!

I was wondering if there is a way to define a block from the internal vertices and to make the surfaces of my constructions expand to the outside.
I'm writing a code that allows me to evaluate the impact on heating demand of adding different materials and varying the thickness of the layers. By defining the building from the inside I can keep the internal volume constant.
If I define the b

[2020-05-11 07:20] jamiebull1 commented on #188
EnergyPlus considers the dimensions as internal dimensions. Room volumes are calculated with zero-thickness walls. "All surfaces are modeled as a thin plane (with no thickness)" ([Surfaces docs](https://bigladdersoftware.com/epx/docs/9-2/input-output-reference/group-thermal-zone-description-geometry.html#surfaces)). So if you're interested in the effect of changing room volume when adding internal

[2020-05-17 18:16] milagrossanz commented on #188
thank you for your reply, @jamiebull1!

[2020-05-17 18:16] #188 closed

[2020-06-10 15:12] adambgnr opened #190 "Corrupted .obj file if to_obj() function was ran more than once"
It is a nice feature of Geomeppy that it can translate .idf files to .obj files. What I have noticed is that the generated .obj file sometimes turns out to be weird. There are faces in it without vertices (lines only with an "f" in them. See attachment).

How to reproduce:
* Start python (e.g. IPython in a shell)
* Run some script with geomeppy idf.to_obj() function. - the obj file will be fine th

[2020-07-07 10:47] katsuya0719 opened #192 "Suggestion to change code in match_idf_surfaces function"
I was testing intersect_match function using simple 2 boxes stacking vertically which has adjscency between roof and floor. However, all the outside boundary condition set to outside which implies this API is not working properly. After investigation, I found that if I change following code to suggestion code in match_idf_surfaces, the problem is fixed.
I understand intension in original code but

[2020-07-07 13:08] jamiebull1 commented on #192
Happy to take a PR with a test case. Thanks for the suggestion.

[2020-08-05 15:50] JoLo90 opened #195 "Suggestion: change WWR coordinates calculation"
When setting WWR to triangular surfaces, the corresponding Window extends off the edge of the surface (there is a corresponding error in the err file).

When modifying the code in the recipes.py file, the error messages disappear and the position of the windows seems more "natural" :

### Original
    window_points = [
        [
            ((x - average_x) * 0.999) + average_x,
            ((y -

[2020-08-05 15:58] jamiebull1 commented on #195
Thanks for this. Looks like a good improvement. If you'd like to open a PR I should be able to merge it in pretty quickly.

[2020-08-07 09:04] JoLo90 opened #197 "Bug: wwr_map sets WWR to 0.2 instead of 0"
When applying different WWR with the  **_wwr_map function_** the case WWR = 0 adds 20% windows on the wall instead of 0.

[code]

![Bug_WWR0](https://user-images.githubusercontent.com/65318981/89628047-fe86d080-d89b-11ea-8660-4dfe6b0efeb9.png)

[2020-09-16 18:19] Lantonshen commented on #192
This new update is available on which version of geomeppy? My version is 0.11.8. The problem is still there.

[2020-10-05 16:34] lymereJ opened #201 "Handling input files in the epJSON format"
AFAIK `geomeppy` doesn't handle files in the `epjson` format, the `idf` file format has not yet been depreciated but might in the future. Should `geomeppy` be able to handle `epjson` files?

[2020-10-05 17:36] jamiebull1 commented on #201
That's an issue for `eppy`, and I think @santoshphilip has it in hand, or at least has a plan in place.

[2020-10-05 20:33] santoshphilip commented on #201
Wow ! @jamiebull1 is alive and well.

@lymereJ , It is implemented in `eppy3000`. <https://github.com/pyenergyplus/eppy3000>
`eppy3000` will read both IDF and epJSON file and will convert between them.
You can also run `eppy` from `eppy3000`

For conversion see these pages
https://eppy3000.readthedocs.io/en/latest/tutorial1.html#Convert-to-epJSON-with-eppy
https://eppy3000.readthedocs.io/en/latest

[2020-10-05 21:47] lymereJ commented on #201
Thanks! I'll look into `eppy3000`.

[2020-10-05 21:47] #201 closed

[2020-10-18 08:49] daniellosg opened #202 "KeyError"
Hi Jamie,

I've been working on a script. So, when i tried to make a list of the objects 'WindowMaterial:SimpleGlazingSystem', got the following error:

[code]

I got this error when i included `from geomeppy import IDF`. However, there was no error when i included

[code]

Finally, to make the script work, i had to make 2 separate scripts, one importing IDF from geomeppy, and the other one import

[2020-11-03 15:05] xavfa opened #204 "non convex polygons"
Hi, I might have missed something, so sorry in advance if it is the case, and thanks to forward to the best link you have !
here is my issue: I am dealing with automatic generation of building for energy plus. Everything works perfectly and thanks a lot for geomeppy and eppy packages. but for buildings of more than one floor I get non convex floors and ceilings. issues Thus unless using MinimalSha

[2020-11-03 16:12] jamiebull1 commented on #204
HI @xavfa. You're right, it's quite an effort in implementation to get non-convex floors and ceilings. I've not actually tested this with the various shading options, as no self-shading was good enough for my purposes up to now. Happy to take a pull request on this if you're willing and able.

[2020-11-04 07:07] xavfa commented on #204
Hi Jamie, in order to dig into some possible way of implementation, i have some question regarding add_bloc function and the most efficient way you'd see it.
If the surface is split before creating the building, will it work ? or shall I build as many blocks as sub-surfaces (convex polygons) and then merge the zones (is there a function for this ?). Or shall the non convex surface be split after c

[2020-11-09 14:54] xavfa commented on #204
Hi, I manage to make only triangles (could be further improve by merging possible triangles) and copy all the argument form the existing surface and then removing the surface. The 'Fullexterior' option seem to work fine (no error messages). But digging into those ceiling surfaces, I found something weird to me. I will open a new thread for this specific case (boundary conditions for intermediate f

[2020-11-09 15:00] xavfa opened #205 "Intermediate floor\ceiling boundary conditions"
Hi,
creating several zones per floor seem to work fine, but I found that boundary conditions for ceilings and floor were fixed to outdoor with sun and wind exposed for the ceiling and wind exposes for the floor.  The ceiling of the lower floor should be connected to the floor of the upper one. I guess this rely on the matched \ unmatched surface routine but I am not sure at all.
Please is this an

[2020-11-09 16:06] xavfa commented on #205
Hi,
it is something to do with the almostequal function in utilities.py
I have manage to solve this issue making a rotating routine of the polygone s.coords to check if almost equal to m.coords.
The boundary for Tutorial 3 works now as well for me.
Thanks in advance to confirm the mistakes (or to point out my mistake in using the package)

[2020-11-09 16:11] xavfa commented on #204
argh...solving the boundary conditions issues also solves this one for the shading options...

[2020-11-09 16:53] jamiebull1 commented on #204
Oh, that's great! I remember a few other issues were solved by the right use of `almost_equals`. Can you open a PR against the `develop` branch and I'll see if it's making best use of `eppy`/`geomeppy` and then prepare a new release.

[2020-11-19 08:34] xavfa commented on #204
Hi, I didn't manage to make pull request, I might uses tortoise git the wrong way because even commiting to a new branch does not works as I don't have permission to push anything.
but here are the modifications :
in intersect_matches\match_idf_surfaces :
                for i in range(len(s.coords)):  # xavfa modification to make a vertex rotation (the almostequl makes vertex per vertex compariso

[2020-11-19 09:19] jamiebull1 commented on #204
Thanks. To make a PR, you need to fork the repo and then make a PR from your fork. Otherwise I'll try and find time to do this myself, but I'm pretty pushed at the moment.

[2021-01-07 11:05] rdmolony opened #209 ""Start Here" tutorial produces EnergyPlusRunError"
Hi @jamiebull1, I created a `geomeppy` docker environment & a `Github` repo which copies the `geomeppy` tutorials to enable running the tutorials via `docker` and unfortunately this bug popped up.

To reproduce:

1. Clone repo containing a `Jupyter Notebook` of tutorial and all required files
2. Run `Jupyter Notebook` in a `geomeppy` `docker` environment
3. Run the `start_here.ipynb` tutorial

[co

[2021-01-07 13:32] rdmolony commented on #209
To make sure that this isn't an issue with the `EnergyPlus` `docker` image or `eppy` (v0.5.53) I copied the `eppy` [`runenergyplus`](https://eppy.readthedocs.io/en/latest/runningeplus.html) tutorial into a `Jupyter Notebook` in a `Github` repo called [`eppy-tutorials`](https://github.com/rdmolony/eppy-tutorials) and created an [`eppy` `docker` image](https://github.com/rdmolony/eppy-docker) to run

[2021-01-07 13:43] rdmolony commented on #209
@santoshphilip solution in this [`eppy` issue](https://github.com/santoshphilip/eppy/issues?q=eplusout.expidf+not+found) does the trick:

[code]

[2021-01-07 13:58] santoshphilip commented on #209
thanks, @rdmolony , I'll make that update to the `eppy` documentation.

[2021-01-07 14:12] santoshphilip commented on #209
@rdmolony , Ignore my previous comment. I commented before I was fully awake.
I should drink my coffee first :-(

[2021-01-07 15:03] rdmolony commented on #209
Thanks for the fix @santoshphilip 😃

[2021-01-07 15:16] rdmolony commented on #209
I'm sorry to say that the "Start Here" tutorial is still producing an `EnergyPlusRunError`!

Can reproduce by following the same steps as the initial comment (except this time the notebook contains @santoshphilip fix for `eplusout.expidf not found` bug)

[code]

I tried commenting out  `idf.set_wwr(0.6)` to check if  `idf.set_default_constructions()`  is somehow not setting `construction_name` for

[2021-01-18 11:28] nimafo opened #212 "'ValueError: not enough values to unpack' in using 'geomeppy' to view an IDF 3D model"
I am using `geomeppy` to view a 3D IDF model in python.
but I get the following error when running the `idf.view_model()` command:

`    ValueError: not enough values to unpack (expected 5, got 0)
`can anyone help me with this issue?
____________________________________________________________________________________________
Code:

[code]

*complete error details:*

[code]

[2021-03-08 19:50] peterrwilson99 opened #215 "defaultvalues argument on newidfobject"
Currently, the patches.py implementation of newidfobject removes the argument of defaultvalues, to not add default values to an idf object. With the example of 'Daylighting:Controls', it will edit reference points that do not exist causing EnergyPlus to fail.

<img width="857" alt="Screen_Shot_2021-02-24_at_12 50 19_PM" src="https://user-images.githubusercontent.com/57307032/110373220-1c6c0d80-800

[2021-04-08 00:56] samuelduchesne commented on #212
@nimafo, I had the same issue; make sure you install matplotlib==3.2.1

[2021-04-15 14:17] amylee-lixinyi opened #220 "TypeError: make_idd_index() missing 1 required positional argument: 'debug'"
Error pop up when try to use IDF to load idf file
`idf = IDF('/Applications/EnergyPlus-9-1-0/ExampleFiles/Minimal.idf')`
Attaching also the whole message

  File "<input>", line 1, in <module>
  File "C:\Users\ci1xl\PycharmProjects\pythonProject1\venv\lib\site-packages\eppy\modeleditor.py", line 548, in __init__
    self.read()
  File "C:\Users\ci1xl\PycharmProjects\pythonProject1\venv\lib\site-pa

[2021-04-20 11:03] amylee-lixinyi commented on #205
Hi,
I seems to come across the same issue of unmatched ceiling/floor as you did, could you please enlighten me how did you manage to fix this ?
Thanks.

[2021-04-20 18:03] xavfa commented on #205
This issue could could be closed now though

[2021-04-20 18:08] xavfa commented on #204
Sorry for the delay.
Yes a pull request has been done : branch Multi_floor_complexe_building.
It order to deal with more complicated geometry i have changed the paradigm of core / perim as well.
The none convex thing is dealt outside geomeppy as i split non convex into triangle and them merge the one that does nit lead to non convex surfaces. Everything works pretty well and I hadn"t had to get in

[2021-04-22 10:27] amylee-lixinyi commented on #204
Looking forward to the geomeppy update with this fixed

[2021-04-23 15:51] JoLo90 commented on #192
Great fix @katsuya0719

[2021-10-25 13:48] ghost opened #227 "to_obj() generates model with missing windows"
When a surface has more than one subsurface in an .idf file, only the first subsurface appears in the converted .obj file.

The image below shows an example featuring a shoebox building with three windows on the South wall. On the left is the expected result, and on the right is the actual outcome.

![model](https://user-images.githubusercontent.com/85171119/138684689-d4258b73-0691-4f54-a01b-32df5

[2021-11-03 00:44] jasonzhao12 opened #228 "Is there any way to add windows by point coordinates?"

[2022-02-10 09:07] #195 closed

[2022-04-20 09:21] maynouf commented on #209
@rdmolony I had the same issue that you had when trying to replicate the tutorial.
Apparently the function `set_wwr` needs a `construction` parameter in the function, which by default is `None`.
I replaced `idf.set_wwr(0.6)` with `idf.set_wwr(0.6,construction="Project External Window")`, which I believe is the default for windows defined in `idf.set_default_constructions()`, and now seems to be wo

[2022-11-11 11:25] arjunrdesai commented on #215
Facing the same issue. Is there a solution to this? Kindly guide me for the solution

[2022-11-11 12:10] jamiebull1 commented on #212
@nimafo sorry for the incredibly late reply. Did @samuelduchesne 's suggestion resolve your problem?

[2022-11-11 12:13] #205 closed

[2022-11-11 12:18] jamiebull1 commented on #179
Duplicate of #205

[2022-11-11 12:18] #179 closed

[2022-11-17 20:06] jamiebull1 opened #250 "Make the add_block method more configurable"
The add_block method currently only creates geometry at z=0 level i.e ground level.